.Rproj.user
.Rhistory
.RData
.Ruserdata

(Zeithamova et al, 2017) Supplemental.docx

(Zeithamova et al. 2017) Trial timing and pattern-information analyses of fMRI data.pdf

doc/*

beh/*
!beh/README.md

betas/*
!betas/README.md

models/decodeCat.rds
models/decodeMem.rds

models/decodeWCat.rds
models/decodeWCat_results.rds
models/decodeWMem.rds
models/decodeWMem_results.rds

decodeCategory_weighted.R
decodeMemory_weighted.R
